html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #407088;
}

a {
    color: #c5f6b9;
}

a:visited {
    color: #567c4d;
}

* {
    box-sizing: border-box;
}
