html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #987283;
}

a {
    color: #C55C86;
}

a:visited {
    color: #8BDEA8;
}

* {
    box-sizing: border-box;
}
